{% extends 'base.html' %}
{% load static %}

{% block page_content %}
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>404 ...</h1>
          <h2>Oops, resource not found</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{% url 'register user' %}" class="btn-get-started scrollto">Register account</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
<section class="inner-page">
<div class="container">
<div class="staticbox">
<div class="staticbox green-title">
<div class="boxbody">
<div class="create-product-headers">Page not found</div>
         <div class="float- container" style="text-align: center;">

                                    Looks like you followed a bad link. <br>You are welcome to start anew from<a href="{% url 'show index' %}"> home page</a>.

                    </div>
</div>
</div>
</div>
</div>
    </section>
  </main>

{% endblock %}



