{% extends 'base.html' %}
{% load static %}

{% block page_content %}


  <main id="main">
<div class="custom-login-form">
    <section class="inner-page">
      <div class="container half-container">
          <div class="create-product-headers">Page not found</div>
         <div class="float-container" style="text-align: center;">

                                    Looks like you followed a bad link. <br>You are welcome to start anew from<a href="{% url 'show index' %}"> home page</a>.

                    </div>

      </div>
    </section>
</div>
  </main>

{% endblock %}


