{% extends 'base.html' %}
{% load static %}

{% block page_content %}


  <main id="main">
<div class="custom-login-form">
    <section class="inner-page">
      <div class="container half-container">
          <div class="create-product-headers">We are experiencing difficulties :(</div>
         <div class="float-container" style="text-align: center;">

          <div class="page-intro">We are currently experiencing issues and working on a solution</div>

                    </div>

      </div>
    </section>
</div>
  </main>

{% endblock %}



