{% extends 'base.html' %}
{% load static %}

{% block page_content %}


    <main id="main">
        <div class="custom_login_form" style="padding-top: 100px;">

            <div class="show-headers"><h1>All Services</h1></div>
            <div class="show-info">Services and recurring cycles: {{ one_time }} One Time |
                {{ weekly }} Weekly | {{ monthly }} Monthly and {{ other }} Other <br>

                {% if request.user.is_authenticated %}
                <a href="{% url 'create service' %}" class="create-new-product btn btn-success btn-success-custom">Add service</a>
                {% else %}
                <a href="{% url 'create service' %}" class="create-new-product btn btn-success btn-success-custom">Login to add service</a>

                {% endif %}

            </div>


            </div>
            <div class="row custom_width">
                {% for service in object_list %}
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
                         data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box ">
                            <h5>{{ service.name }}</h5>
                            <div class="custom-justify">{{ service.description | truncatechars:100 }}</div>
                            <p><a href="{% url 'service details' service.pk %}">View Service</a></p>
                        </div>
                    </div>
                {% empty %}
                    <li>Sorry, no available services in this list.</li>
                {% endfor %}
            </div>
        </div>
        <div class="custom-pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </main>


{% endblock %}
