{% extends 'base.html' %}
{% load static %}

{% block page_content %}


    <main id="main">
        <div class="custom-login-space">
            <section class="inner-page">
                <div class="container half-container">
                    <div class="create-product-headers">{{ service.name }}</div>


                        <div class="product-description"><b>Description:</b> {{ service.description }}</div>
                            <div class="product-type"><b>Cycle:</b> {{ service.cycle }}</div>

                {% if request.user.is_authenticated %}
                            <div class="product-price"><b>Price:</b> {{ service.fee }}</div>
                            <div class="product-owner"><b>Owner / Publisher:</b> {{ service.user }}</div>

                {%  else %}
                <div class="login-to-view">
                                To see more details, please <a href="{% url 'login user' %}">Login</a> or
                                <a href="{% url 'register user' %}">Create Account</a>
                                </div>
                {%  endif %}
                    {% if is_owner %}
<div class="edit-options"><a href="{% url 'edit service' service.pk %}" class="btn btn-success btn-success-custom">Edit</a> <a href="{% url 'delete service' service.pk %}" class="btn btn-danger btn-success-custom">Delete</a></div>
                    {% endif %}
                </div>
            </section>
        </div>
    </main>

{% endblock %}
